/* In dieser Datei können globale Styles definiert werden */

/* Hintergrundfarbe für die gesamte Seite */
body {
    background-color: rgb(232, 255, 232); /* Ein helles Grün */
    margin: 0; /* Entfernt Standardabstände */
}

/* Nur Text und Bild zentrieren */
.center-container {
    display: flex;
    justify-content: center; /* Zentriert horizontal */
    align-items: center;    /* Zentriert vertikal */
    flex-direction: column; /* Stapelt Text und Bild vertikal */
    height: 100vh;          /* Stellt sicher, dass der Container den gesamten Viewport einnimmt */
}

/* Stil für h1 */
h1 {
    color: rgb(59, 124, 45); /* Weiß für besseren Kontrast */
}

/* Stil für h2 */
h2 {
    color: rgb(59, 124, 45); /* Weiß für besseren Kontrast */
}

/* Stil für img */
img {
    width: 600px; /* oder gewünschte Breite */
    height: 500px; /* sorgt für das richtige Seitenverhältnis */
}

/* Stil für Buttons */
button {
    background-color: green; 
    color: white;            
    border: none;            
    padding: 10px 20px;      
    cursor: pointer;         
}

button:hover {
    background-color: darkgreen; 
}

/* Stil für Labels */
label.form-label {
    color: rgb(59, 124, 45); 
}

/* Stil für spezifische Buttons */
button.btn.btn-primary.btn-sm {
    background-color: rgb(40, 147, 40);; /* Hellgrün für spezifische Buttons */
    color: rgb(255, 255, 255); /* Schwarzer Text für guten Kontrast */
    border: 1px solid green; /* Leichte Umrandung für Abgrenzung */
}
